# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Logging files
chatbot.log
*.log


# Unit test / coverage reports
.coverage
*.cover
.pytest_cache/
nosetests.xml
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
venv/
ENV/
env/
env.bak/

# mypy
.mypy_cache/
.dmypy.json
.mypy.ini

# PyCharm
.idea/

# VS Code
.vscode/

# Virtual environments
*.egg
*.egg-info/
local/
